@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Shrikhand&display=swap');

@font-face {
    font-family: Horizon;
    src: url(Horizon/horizon.otf);
}

@font-face {
    font-family: Garet;
    src: url(Garet-Book.ttf);
}

body {
    background: #FFF9E3;
    margin: 0;
    overflow-x: hidden;
}

.navheader {font-family: "Fredoka", sans-serif;}

.logo{height: 3vh;}

nav {
    width: 100%;
    background-color: #FF6767;
    height: 10vh;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    font-family: Garet;
    color: black;
}

.motto{font-family: "Shrikhand", serif; color: #FF6767; text-align: center;}
#spanmotto{color: #BA9578;}
#h3up {color: #BA9578;}
#legend {color: #FF6767; font-family: Horizon;}

input[type=text], input[type=password], input[type=email], input[type=password], input[type=number] {
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-radius: 10px;
    background: #FF6767;
    font-family: Garet;
}

::placeholder{text-transform: uppercase; color: white;}

#picbg{padding: 0.5em;}

.background{
    display: flex;
    align-items: center;
    justify-content: center;
}

#abtme {font-family: Horizon; color: #BA9578; text-align: center;}
#abtme span {color: #FF6767;}